.main__container {
	height: 93.4vh;

	padding-left: 1em;
	overflow-x: auto;
}

.dashboard__container {
	margin-top: 5em;

	padding-top: 0.5em;
	display: flex;

	width: fit-content;
}

@media screen and (min-width: 27.5em) {
	.dashboard__container {
		margin-top: 3em;
	}
}
