.main__container {
	height: 100vh;
	// opacity: 0.7;
	// filter: brightness(88%);
	padding-left: 1em;
}

.dashboard__container {
	padding-top: 0.5em;

	display: flex;
	gap: 0.5em;
	// flex-wrap: wrap;
	width: 100%;
}
