.container {
	position: absolute;
	top: 45px;
	right: 0;
	background-color: white;
	border-radius: 4px;
	padding: 0 1em 1em 1em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	min-width: 272px;
	z-index: 700;
	& > .header {
		display: flex;
		align-items: center;
		& > p {
			margin-left: auto;
			color: hsl(0, 0%, 45%);
			font-size: 0.875rem;
		}
		& > .closeIcon {
			margin-left: auto;
			cursor: pointer;
		}
	}

	& > hr {
		margin-top: -0.2em;
		border: 0;
		border-top: 1px solid hsl(0, 0%, 85%);
	}
}
