.container {
	padding: 2em;
	margin-top: -2.5em;

	& > h2 {
		color: #eef2ff;
		text-transform: capitalize;
		font-weight: 600;
	}
}

.form__container {
	display: flex;
	flex-direction: column;
}
.input {
	padding: 1.1em;
	border-radius: 4px;
	background-color: #eef2ff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	outline: none;
	border: 0;
	color: #0f0f0f;
}
.input::placeholder {
	color: #0f0f0f;
}

.submit__btn {
	margin-top: 1em;
	background-color: #0f0f0f;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: #ffffff;
	border: 0;
	width: fit-content;
	cursor: pointer;
	padding: 0.7em 0.9em;
	text-transform: capitalize;
	outline: none;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 4px;
}
