.container {
	padding: 2em 1.5em;
}

.form__container {
	display: flex;
	gap: 1em;
	flex-direction: column;
}
.input {
	height: 35px;
	padding: 0.8em;
	border-radius: 4px;
	background-color: rgba(26, 27, 26, 0.185);
	outline: none;
	border: 0;
	color: white;
}
.input::placeholder {
	color: white;
}

.submit__btn {
	background-color: rgba(26, 27, 26, 0.185);
	color: white;
	border: 0;
	width: fit-content;
	cursor: pointer;
	padding: 0.7em 1em;
	text-transform: capitalize;
	outline: none;
	font-weight: 600;
	border-radius: 4px;
	height: 30px;
}

@media screen and (min-width: 60em) {
	.container {
		& > h1 {
			font-size: 3em;
			color: hsl(202, 98%, 13%);
		}
	}
}
