.outer__container {
	& > .project__label {
		display: flex;
		align-items: center;
		& > h3 {
			font-size: 1rem;
			margin-left: 0.5em;
			font-size: 500;
			margin-top: 1.3em;
			color: hsl(202, 98%, 15%);
		}
	}
}

.inner__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
}

.projects__container {
	position: relative;
	width: 210px;
	height: 100px;
	padding: 1em;
	border-radius: 4px;
	& > .title {
		font-size: 1.125rem;
		font-weight: 400;
		color: hsl(0, 0%, 100%);
		text-transform: capitalize;
	}

	& > .info__container {
		display: flex;
		justify-content: space-between;
	}
}

.option__container {
	display: flex;

	& > .option__btn {
		position: absolute;
		bottom: 0;
		right: 10px;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;
	}

	& > .options {
		background-color: rgba(20, 20, 20, 0.651);
		border-radius: 1px;
		position: absolute;
		bottom: 35px;
		right: 5px;
		& > div {
			cursor: pointer;
			padding: 0.5em;
			color: rgba(235, 235, 235, 0.815);
		}
		& > div:hover {
			background-color: rgba(20, 20, 20, 0.836);
			color: white;
		}
		& > * + * {
			margin-top: 0.2em;
		}
	}
}

.create__project {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 210px;
	height: 100px;
	border-radius: 4px;
	text-transform: capitalize;
	background-color: hsl(0, 0%, 93%);
	color: hsl(0, 0%, 40%);
	font-size: 0.875rem;
}
