.container {
	padding-left: 0.5em;

	width: 272px;
	margin-right: 1em;
}
.add__task_btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: hsla(0, 0%, 100%, 0.24);
	border-radius: 4px;
	padding-left: 1em;
	height: 40px;
	color: white;
	font-size: 0.875rem;
	font-weight: 500;
	& > P {
		padding-left: 0.7em;
	}
}
.add__task_btn:hover {
	background-color: hsla(0, 0%, 100%, 0.349);
}

.input__container {
	background-color: #ebecf0;
	padding: 0.5em;
	border-radius: 4px;
	& > .discription__input {
		padding: 12px 20px;
		box-shadow: inset 0 0 0 2px #0079bf;
		border: 0;
		background-color: white;
		outline: none;
		overflow: hidden;
		padding: 10px;
		border-radius: 4px;
		width: 100%;
		height: 40px;
	}
	& > .input__btns {
		display: flex;
		align-items: center;
		margin-top: 0.4em;

		& > .btn__save {
			cursor: pointer;
			background-color: #5aac44;
			color: white;
			border: 0;
			padding: 0.6em 1.4em;
			text-transform: capitalize;
			font-size: 0.9rem;
			font-weight: 500;
			border-radius: 4px;
			outline: none;
		}
		& > .btn__save:hover {
			background-color: hsl(107, 43%, 50%);
		}

		& > .btn__close {
			cursor: pointer;
			padding-left: 1em;
		}
	}
}
