.projectCard_outer__container {
	display: flex;
}

.container + .container {
	margin-left: 0.5em;
}
.container {
	width: 272px;
	height: fit-content;
	background-color: #ebecf0;
	padding: 0.5em;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	border-radius: 4px;
	margin-bottom: 3em;
	position: relative;
	& > .title__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -1em;
		& > h4 {
			font-size: 0.9rem;
			font-weight: 500;
			color: hsl(228, 14%, 33%);
			margin-left: 0.4em;
			text-transform: capitalize;
		}
	}
}
.projectCard__options {
	position: relative;
	margin-top: 0.2em;
	& > .option__icon {
		cursor: pointer;
	}
}

.tasks__container {
	min-height: 1px; // for space to drop task when projectcard is empty
	max-height: 57vh;
	overflow-y: auto;
}

.tasks__container::-webkit-scrollbar {
	width: 9px;
}

.tasks__container::-webkit-scrollbar-track {
	background: hsl(228, 14%, 86%);
	border-radius: 20px;
}

.tasks__container::-webkit-scrollbar-thumb {
	background-color: hsl(228, 14%, 80%);
	border-radius: 20px; /* roundness of the scroll thumb */
}

@media screen and (min-width: 27.5em) {
	.projectCard_outer__container {
		margin-top: 0;
	}
}
