.add__task_btn {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-left: 0.5em;
	cursor: pointer;
	height: 30px;
	border-radius: 4px;
	margin-top: 1em;
	padding-left: 0.5em;
	color: hsl(0, 0%, 60%);
	font-size: 0.9rem;
}
.add__task_btn:hover {
	background-color: rgba(48, 47, 47, 0.1);
	color: hsl(0, 0%, 40%);
}

.input__container {
	margin-top: 1em;

	& > .discription__input {
		padding: 12px 20px;

		background-color: white;
		outline: none;
		overflow: hidden;
		padding: 10px;
		border: 0;
		border-radius: 4px;
		width: 100%;
		height: 80px;
		resize: none;
		font-family: "Rubik", sans-serif;
		// letter-spacing: 0.03em;
	}
	& > .input__btns {
		display: flex;
		align-items: center;
		gap: 1em;
		margin-top: 0.4em;

		& > .btn__save {
			cursor: pointer;
			background-color: #5aac44;
			color: white;
			border: 0;
			padding: 0.5em 1.2em;
			text-transform: capitalize;
			font-size: 0.9rem;
			font-weight: 500;
			border-radius: 4px;
		}

		& > .btn__close {
			cursor: pointer;
		}
	}
}

// .backdrop {
// 	background-color: rgba(0, 0, 0, 0);
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// }
// .form__container {
// 	display: flex;
// 	flex-wrap: wrap;

// 	flex-direction: column;
// 	align-items: center;
// }
// .input {
// 	width: 100%;
// 	padding: 0.8em;
// 	border-radius: 4px;
// 	border-left: 1.9px solid rgb(9, 2, 51);
// 	border-top: 1.9px solid rgb(9, 2, 51);
// 	border-right: 3px solid rgb(9, 2, 51);
// 	border-bottom: 3px solid rgb(9, 2, 51);
// 	outline: none;
// }

// .submit__btn {
// 	margin-left: 1.5em;
// 	background-color: rgb(9, 2, 51);
// 	color: white;
// 	border: 0;
// 	padding: 0.7em 1.5em;
// 	text-transform: capitalize;
// 	font-size: 1rem;
// 	font-weight: 600;
// 	border-radius: 4px;
// }

// .toast {
// 	margin-top: 0.5em;
// }

// .selectOptions {
// 	margin-top: 0.5em;

// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: flex-end;

// 	& > div {
// 		width: 140px;
// 	}

// 	& > * + * {
// 		margin-top: 0.5em;
// 		// margin-left: 1em;
// 	}
// }
