.editTitle__form {
	width: 100%;
	margin-left: 0.5em;
	margin-bottom: 1em;
	& > input {
		padding-left: 0.5em;
		outline: none;
		width: 100%;
		border-radius: 2px;
		height: 34px;
		border: 2px solid #0079bf;
		font-weight: 500;
		color: #172b4d;
		font-size: 1.2rem;
	}
}

.container {
	margin: 1em;
	& > .task_title {
		display: flex;
		flex-shrink: 0;
		& > h3 {
			cursor: text;
			width: 100%;
			margin-top: -0.3em;
			margin-left: 0.5em;
			font-weight: 500;
			color: #172b4d;
			font-size: 1.2rem;
		}
	}

	& > .current__board {
		margin-top: -1.8em;
		margin-left: 1.5em;
		& > p {
			color: hsl(210, 2%, 46%);
			font-size: 0.875rem;
			& > span {
				text-decoration: underline;
			}
		}
	}

	.description__container {
		margin-top: 2.5em;
		& > .description__title {
			display: flex;
			align-items: flex-start;
			& > h4 {
				margin-top: auto;
				margin-left: 0.7em;
				font-size: 0.9rem;
				font-weight: 500;
				color: #172b4d;
			}
		}

		& > .input__container {
			margin-left: 2em;
			margin-bottom: 2em;
			& > .description__content {
				cursor: pointer;
				margin-top: -1.4em;
				background-color: hsl(220, 16%, 92%);
				min-height: 60px;
				border-radius: 2px;
				width: 90%;
				& > p {
					color: hsl(220, 16%, 40%);
					padding: 0.8em;
					font-size: 0.875rem;
				}
			}
		}
	}
}

.editDescription__container {
	& > .discription__input {
		outline: none;
		border: 2px solid #0079bf;
		border-radius: 3px;
		width: 90%;
		height: 100px;
		padding: 0.8em;
		color: hsl(220, 16%, 35%);
		resize: none;
		font-family: sans-serif;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	& > .btn__container {
		display: flex;
		align-items: center;
		& > .btn__save {
			margin-top: 1em;
			background-color: #5aac44;
			color: white;
			border: 0;
			padding: 0.6em 1.4em;
			text-transform: capitalize;
			font-size: 0.9rem;
			font-weight: 500;
			border-radius: 3px;
		}
		& > .btn__close {
			cursor: pointer;
			margin-top: 1em;
			padding-left: 1em;
		}
	}
}

.btn__delete {
	margin-top: 2em;
	display: block;
	background-color: hsl(0, 96%, 92%);
	color: hsl(0, 72%, 56%);
	border: 0;
	padding: 0.6em 1em;
	text-transform: capitalize;
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
	margin-left: auto;
	outline: none;
}
