.container {
	background-color: white;
	min-height: fit-content;
	max-height: 200px;
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	cursor: pointer;
	border-radius: 3px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: column;
	margin-right: 0.25em;

	& > .title {
		& > p {
			padding: 8px 0;
			margin: 0;
			font-size: 0.88rem;
			color: hsl(0, 0%, 35%);
		}
	}

	& > .task__details {
		padding-left: 0.4em;
		padding-bottom: 8px;
	}
}

.container + .container {
	margin-top: 0.6em;
}
