.container {
	background-color: white;
	min-height: fit-content;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	cursor: pointer;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	& > .title {
		& > p {
			padding: 8px 0;
			font-size: 0.875rem;
			color: hsl(0, 0%, 34%);
		}
	}

	& > .task__details {
		margin-top: -0.7em;
		padding-left: 0.4em;
		padding-bottom: 8px;
	}

	// & > img {
	// 	margin-left: 8px;
	// 	margin-top: -8px;
	// }
}

.container + .container {
	margin-top: -0.3em;
}
