.nav {
	background-color: hsla(202, 98%, 33%, 0.884);
	position: relative;
	display: flex;
	padding: 0.5em 1.5em;
	justify-content: space-between;
	align-items: center;
	// border-bottom: 3px solid rgb(9, 2, 51);
}

.nav__items_left {
	& > .logo {
		font-size: 2rem;
		font-weight: 600;
		color: hsl(202, 98%, 96%);
	}
}

.nav__items_right {
	& > .items__container {
		display: flex;
		align-items: center;
		& > * + * {
			margin-left: 0.4em;
		}

		& > .notification {
			background-color: hsla(0, 0%, 100%, 0.308);
			border-radius: 4px;
			padding: 0.4em 0.6em;
			position: absolute;
			right: 16%;
			cursor: pointer;
		}
		& > .notification:hover {
			background-color: hsla(0, 0%, 100%, 0.185);
		}
		& > .user__name {
			display: flex;
			border-radius: 50%;
			background-color: rgb(255, 174, 0);
			width: 35px;
			height: 35px;
			align-items: center;
			justify-content: center;
			& > p {
				font-weight: 500;
				font-size: 0.875rem;
			}
		}
		& > .btn {
			border: 0;
			cursor: pointer;
			font-size: 0.7rem;
			background: none;
			font-weight: 800;
			color: hsl(202, 98%, 96%);
		}
	}
}

@media screen and (min-width: 60em) {
	.nav {
		padding: 0.5em 15em;
		justify-content: space-between;
	}
}
