.nav {
	background-color: hsl(218, 54%, 40%);

	display: flex;
	padding: 0.3em 1.5em;
	justify-content: space-between;
	align-items: center;
	// border-bottom: 3px solid rgb(9, 2, 51);
}

.nav__items_left {
	& > .logo {
		font-size: 2rem;
		font-weight: 600;
		color: hsl(218, 54%, 90%);
	}
}

.nav__items_right {
	& > .items__container {
		& > .user__image {
			border-radius: 50%;
			width: 35px;
			height: 35px;
		}
		& > .btn {
			border: 0;
			cursor: pointer;
			font-size: 0.7rem;
			background: none;
			font-weight: 800;
			color: rgb(9, 2, 51);
		}
	}
}
