.container {
	padding-top: 0.5em;
	position: fixed;
	z-index: 600;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.container__left {
	display: flex;
	flex-wrap: wrap;
}
.container__right {
	margin-left: 0.5em;
	margin-right: 2em;
}

.item__container {
	display: flex;
	position: relative;
}

.nav__items + .nav__items {
	margin-left: 0.4em;
}

.nav__items {
	margin-top: 0.4em;

	display: flex;
	flex-shrink: 0;
	height: 32px;
	justify-content: center;
	align-items: center;
	background-color: hsla(0, 0%, 100%, 0.24);
	border-radius: 4px;
	padding: 0.5em 0.6em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	cursor: pointer;

	& > h3 {
		color: hsl(0, 0%, 100%);
		font-weight: 500;
		letter-spacing: 0.03em;
		text-transform: capitalize;
	}

	& > p {
		margin-left: 0.4em;
		color: hsl(0, 0%, 100%);
		font-weight: 500;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		font-size: 0.875rem;
	}
}

.nav__items:hover {
	background-color: hsla(0, 0%, 100%, 0.349);
}

.vertical__bar {
	border-left: 1px solid rgba(180, 180, 180, 0.534);
	margin: 0 0.3em;
	margin-top: 0.4em;
}

.editProjectName__form {
	margin-top: 0.4em;
	margin-right: 0.4em;
	display: flex;
	flex-shrink: 0;
	& > input {
		border-radius: 4px;
		border: 2px solid #0079bf;
		height: 32px;
		font-weight: 500;
		text-transform: capitalize;
		font-size: 1.19rem;
		outline: none;
		padding: 0.5em;
	}
}
