.container {
	transition: all 1s ease-in-out;
	& > .backdrop {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 700;

		background-color: rgba(0, 0, 0, 0.61);
	}
	& > .modal__body {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		max-width: 330px;
		height: fit-content;
		border-radius: 8px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		position: fixed;
		top: 15%;
		left: 30px;
		right: 30px;

		background-color: white;
		z-index: 800;
	}
}

.color__picker {
	padding: 0.5em 0.5em 0 0.5em;
	position: absolute;
	background-color: #f0f0f0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

@media screen and (min-width: 43em) {
	.container {
		& > .modal__body {
			top: 15%;
			left: 35%;
		}
	}
}
