html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: hsl(204, 100%, 98%);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
