.main__container {
	// margin: 2em;
	margin-top: 3em;

	margin-left: 2em;
	display: flex;
	align-items: center;
	gap: 3em;

	& > .sidebar__container {
		display: none;
	}
	// & > .projects__container {
	// }
}

@media screen and (min-width: 60em) {
	.main__container {
		& > .sidebar__container {
			display: block;
			margin-left: 7em;
			width: 230px;
		}
	}
}
